*~
*.ipynb_checkpoints*
*pyc
*.swp
Pol-Tensor_Raman-spectrum/N2/
Pol-Tensor_Raman-spectrum/H2O/
Pol-Tensor_Raman-spectrum/H2O_better/
Pol-Tensor_Raman-spectrum/pol_tensor*
Pol-Tensor_Raman-spectrum/ref.*
